# Ensemble Learning

## Initial Imports

In [1]:
import warnings
warnings.filterwarnings('ignore')

In [2]:
import numpy as np
import pandas as pd
from pathlib import Path
from collections import Counter
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [3]:
from sklearn.metrics import balanced_accuracy_score
from sklearn.metrics import confusion_matrix
from imblearn.metrics import classification_report_imbalanced
from sklearn.ensemble import RandomForestClassifier
from imblearn.ensemble import EasyEnsembleClassifier

## Read the CSV and Perform Basic Data Cleaning

In [4]:
# Load the data
file_path = Path('Resources/LoanStats_2019Q1.csv')
df = pd.read_csv(file_path)

# Preview the data
df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,dti,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,10500.0,0.1719,375.35,RENT,66000.0,Source Verified,Mar-2019,low_risk,n,27.24,...,85.7,100.0,0.0,0.0,65687.0,38199.0,2000.0,61987.0,N,N
1,25000.0,0.2000,929.09,MORTGAGE,105000.0,Verified,Mar-2019,low_risk,n,20.23,...,91.2,50.0,1.0,0.0,271427.0,60641.0,41200.0,49197.0,N,N
2,20000.0,0.2000,529.88,MORTGAGE,56000.0,Verified,Mar-2019,low_risk,n,24.26,...,66.7,50.0,0.0,0.0,60644.0,45684.0,7500.0,43144.0,N,N
3,10000.0,0.1640,353.55,RENT,92000.0,Verified,Mar-2019,low_risk,n,31.44,...,100.0,50.0,1.0,0.0,99506.0,68784.0,19700.0,76506.0,N,N
4,22000.0,0.1474,520.39,MORTGAGE,52000.0,Not Verified,Mar-2019,low_risk,n,18.76,...,100.0,0.0,0.0,0.0,219750.0,25919.0,27600.0,20000.0,N,N

In [5]:
# Check dataframe for any null or non numeric feature values pre clean
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68817 entries, 0 to 68816
Data columns (total 86 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   loan_amnt                   68817 non-null  float64
 1   int_rate                    68817 non-null  float64
 2   installment                 68817 non-null  float64
 3   home_ownership              68817 non-null  object
 4   annual_inc                  68817 non-null  float64
 5   verification_status         68817 non-null  object
 6   issue_d                     68817 non-null  object
 7   loan_status                 68817 non-null  object
 8   pymnt_plan                  68817 non-null  object
 9   dti                         68817 non-null  float64
 10  delinq_2yrs                 68817 non-null  float64
 11  inq_last_6mths              68817 non-null  float64
 12  open_acc                    68817 non-null  float64
 13  pub_rec                     68817 non-null  float64
 14  revol_bal                   68817 non-null  float64
 15  total_acc                   68817 non-null  float64
 16  initial_list_status         68817 non-null  object
 17  out_prncp                   68817 non-null  float64
 18  out_prncp_inv               68817 non-null  float64
 19  total_pymnt                 68817 non-null  float64
 20  total_pymnt_inv             68817 non-null  float64
 21  total_rec_prncp             68817 non-null  float64
 22  total_rec_int               68817 non-null  float64
 23  total_rec_late_fee          68817 non-null  float64
 24  recoveries                  68817 non-null  float64
 25  collection_recovery_fee     68817 non-null  float64
 26  last_pymnt_amnt             68817 non-null  float64
 27  next_pymnt_d                68817 non-null  object
 28  collections_12_mths_ex_med  68817 non-null  float64
 29  policy_code                 68817 non-null  float64
 30  application_type            68817 non-null  object
 31  acc_now_delinq              68817 non-null  float64
 32  tot_coll_amt                68817 non-null  float64
 33  tot_cur_bal                 68817 non-null  float64
 34  open_acc_6m                 68817 non-null  float64
 35  open_act_il                 68817 non-null  float64
 36  open_il_12m                 68817 non-null  float64
 37  open_il_24m                 68817 non-null  float64
 38  mths_since_rcnt_il          68817 non-null  float64
 39  total_bal_il                68817 non-null  float64
 40  il_util                     68817 non-null  float64
 41  open_rv_12m                 68817 non-null  float64
 42  open_rv_24m                 68817 non-null  float64
 43  max_bal_bc                  68817 non-null  float64
 44  all_util                    68817 non-null  float64
 45  total_rev_hi_lim            68817 non-null  float64
 46  inq_fi                      68817 non-null  float64
 47  total_cu_tl                 68817 non-null  float64
 48  inq_last_12m                68817 non-null  float64
 49  acc_open_past_24mths        68817 non-null  float64
 50  avg_cur_bal                 68817 non-null  float64
 51  bc_open_to_buy              68817 non-null  float64
 52  bc_util                     68817 non-null  float64
 53  chargeoff_within_12_mths    68817 non-null  float64
 54  delinq_amnt                 68817 non-null  float64
 55  mo_sin_old_il_acct          68817 non-null  float64
 56  mo_sin_old_rev_tl_op        68817 non-null  float64
 57  mo_sin_rcnt_rev_tl_op       68817 non-null  float64
 58  mo_sin_rcnt_tl              68817 non-null  float64
 59  mort_acc                    68817 non-null  float64
 60  mths_since_recent_bc        68817 non-null  float64
 61  mths_since_recent_inq       68817 non-null  float64
 62  num_accts_ever_120_pd       68817 non-null  float64
 63  num_actv_bc_tl              68817 non-null  float64
 64  num_actv_rev_tl             68817 non-null  float64
 65  num_bc_sats                 68817 non-null  float64
 66  num_bc_tl                   68817 non-null  float64
 67  num_il_tl                   68817 non-null  float64
 68  num_op_rev_tl               68817 non-null  float64
 69  num_rev_accts               68817 non-null  float64
 70  num_rev_tl_bal_gt_0         68817 non-null  float64
 71  num_sats                    68817 non-null  float64
 72  num_tl_120dpd_2m            68817 non-null  float64
 73  num_tl_30dpd                68817 non-null  float64
 74  num_tl_90g_dpd_24m          68817 non-null  float64
 75  num_tl_op_past_12m          68817 non-null  float64
 76  pct_tl_nvr_dlq              68817 non-null  float64
 77  percent_bc_gt_75            68817 non-null  float64
 78  pub_rec_bankruptcies        68817 non-null  float64
 79  tax_liens                   68817 non-null  float64
 80  tot_hi_cred_lim             68817 non-null  float64
 81  total_bal_ex_mort           68817 non-null  float64
 82  total_bc_limit              68817 non-null  float64
 83  total_il_high_credit_limit  68817 non-null  float64
 84  hardship_flag               68817 non-null  object
 85  debt_settlement_flag        68817 non-null  object
dtypes: float64(76), object(10)
memory usage: 45.2+ MB

In [6]:
# Check dataframe for any non numeric feature values pre clean
df.select_dtypes(include='object')

,home_ownership,verification_status,issue_d,loan_status,pymnt_plan,initial_list_status,next_pymnt_d,application_type,hardship_flag,debt_settlement_flag
0,RENT,Source Verified,Mar-2019,low_risk,n,w,May-2019,Individual,N,N
1,MORTGAGE,Verified,Mar-2019,low_risk,n,w,May-2019,Individual,N,N
2,MORTGAGE,Verified,Mar-2019,low_risk,n,w,May-2019,Individual,N,N
3,RENT,Verified,Mar-2019,low_risk,n,w,May-2019,Individual,N,N
4,MORTGAGE,Not Verified,Mar-2019,low_risk,n,w,May-2019,Individual,N,N
...,...,...,...,...,...,...,...,...,...,...
68812,RENT,Source Verified,Jan-2019,low_risk,n,w,May-2019,Individual,N,N
68813,RENT,Not Verified,Jan-2019,low_risk,n,w,May-2019,Individual,N,N
68814,MORTGAGE,Source Verified,Jan-2019,low_risk,n,w,May-2019,Individual,N,N
68815,MORTGAGE,Verified,Jan-2019,low_risk,n,f,May-2019,Individual,N,N
68816,MORTGAGE,Verified,Jan-2019,low_risk,n,w,May-2019,Individual,N,N

In [7]:
# Return columns from dataframe for any null or non numeric feature values pre clean
df.select_dtypes(include='object').info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68817 entries, 0 to 68816
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   home_ownership        68817 non-null  object
 1   verification_status   68817 non-null  object
 2   issue_d               68817 non-null  object
 3   loan_status           68817 non-null  object
 4   pymnt_plan            68817 non-null  object
 5   initial_list_status   68817 non-null  object
 6   next_pymnt_d          68817 non-null  object
 7   application_type      68817 non-null  object
 8   hardship_flag         68817 non-null  object
 9   debt_settlement_flag  68817 non-null  object
dtypes: object(10)
memory usage: 5.3+ MB

In [8]:
# Replace the not numerical data in the feature columns ready for modelling                               
clean_df = pd.get_dummies(df, columns=["home_ownership","verification_status","issue_d","pymnt_plan","initial_list_status","next_pymnt_d","application_type","hardship_flag","debt_settlement_flag"])

In [9]:
# Check dataframe for any null or non numeric feature values post clean
clean_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 68817 entries, 0 to 68816
Data columns (total 96 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   loan_amnt                            68817 non-null  float64
 1   int_rate                             68817 non-null  float64
 2   installment                          68817 non-null  float64
 3   annual_inc                           68817 non-null  float64
 4   loan_status                          68817 non-null  object
 5   dti                                  68817 non-null  float64
 6   delinq_2yrs                          68817 non-null  float64
 7   inq_last_6mths                       68817 non-null  float64
 8   open_acc                             68817 non-null  float64
 9   pub_rec                              68817 non-null  float64
 10  revol_bal                            68817 non-null  float64
 11  total_acc                            68817 non-null  float64
 12  out_prncp                            68817 non-null  float64
 13  out_prncp_inv                        68817 non-null  float64
 14  total_pymnt                          68817 non-null  float64
 15  total_pymnt_inv                      68817 non-null  float64
 16  total_rec_prncp                      68817 non-null  float64
 17  total_rec_int                        68817 non-null  float64
 18  total_rec_late_fee                   68817 non-null  float64
 19  recoveries                           68817 non-null  float64
 20  collection_recovery_fee              68817 non-null  float64
 21  last_pymnt_amnt                      68817 non-null  float64
 22  collections_12_mths_ex_med           68817 non-null  float64
 23  policy_code                          68817 non-null  float64
 24  acc_now_delinq                       68817 non-null  float64
 25  tot_coll_amt                         68817 non-null  float64
 26  tot_cur_bal                          68817 non-null  float64
 27  open_acc_6m                          68817 non-null  float64
 28  open_act_il                          68817 non-null  float64
 29  open_il_12m                          68817 non-null  float64
 30  open_il_24m                          68817 non-null  float64
 31  mths_since_rcnt_il                   68817 non-null  float64
 32  total_bal_il                         68817 non-null  float64
 33  il_util                              68817 non-null  float64
 34  open_rv_12m                          68817 non-null  float64
 35  open_rv_24m                          68817 non-null  float64
 36  max_bal_bc                           68817 non-null  float64
 37  all_util                             68817 non-null  float64
 38  total_rev_hi_lim                     68817 non-null  float64
 39  inq_fi                               68817 non-null  float64
 40  total_cu_tl                          68817 non-null  float64
 41  inq_last_12m                         68817 non-null  float64
 42  acc_open_past_24mths                 68817 non-null  float64
 43  avg_cur_bal                          68817 non-null  float64
 44  bc_open_to_buy                       68817 non-null  float64
 45  bc_util                              68817 non-null  float64
 46  chargeoff_within_12_mths             68817 non-null  float64
 47  delinq_amnt                          68817 non-null  float64
 48  mo_sin_old_il_acct                   68817 non-null  float64
 49  mo_sin_old_rev_tl_op                 68817 non-null  float64
 50  mo_sin_rcnt_rev_tl_op                68817 non-null  float64
 51  mo_sin_rcnt_tl                       68817 non-null  float64
 52  mort_acc                             68817 non-null  float64
 53  mths_since_recent_bc                 68817 non-null  float64
 54  mths_since_recent_inq                68817 non-null  float64
 55  num_accts_ever_120_pd                68817 non-null  float64
 56  num_actv_bc_tl                       68817 non-null  float64
 57  num_actv_rev_tl                      68817 non-null  float64
 58  num_bc_sats                          68817 non-null  float64
 59  num_bc_tl                            68817 non-null  float64
 60  num_il_tl                            68817 non-null  float64
 61  num_op_rev_tl                        68817 non-null  float64
 62  num_rev_accts                        68817 non-null  float64
 63  num_rev_tl_bal_gt_0                  68817 non-null  float64
 64  num_sats                             68817 non-null  float64
 65  num_tl_120dpd_2m                     68817 non-null  float64
 66  num_tl_30dpd                         68817 non-null  float64
 67  num_tl_90g_dpd_24m                   68817 non-null  float64
 68  num_tl_op_past_12m                   68817 non-null  float64
 69  pct_tl_nvr_dlq                       68817 non-null  float64
 70  percent_bc_gt_75                     68817 non-null  float64
 71  pub_rec_bankruptcies                 68817 non-null  float64
 72  tax_liens                            68817 non-null  float64
 73  tot_hi_cred_lim                      68817 non-null  float64
 74  total_bal_ex_mort                    68817 non-null  float64
 75  total_bc_limit                       68817 non-null  float64
 76  total_il_high_credit_limit           68817 non-null  float64
 77  home_ownership_ANY                   68817 non-null  uint8
 78  home_ownership_MORTGAGE              68817 non-null  uint8
 79  home_ownership_OWN                   68817 non-null  uint8
 80  home_ownership_RENT                  68817 non-null  uint8
 81  verification_status_Not Verified     68817 non-null  uint8
 82  verification_status_Source Verified  68817 non-null  uint8
 83  verification_status_Verified         68817 non-null  uint8
 84  issue_d_Feb-2019                     68817 non-null  uint8
 85  issue_d_Jan-2019                     68817 non-null  uint8
 86  issue_d_Mar-2019                     68817 non-null  uint8
 87  pymnt_plan_n                         68817 non-null  uint8
 88  initial_list_status_f                68817 non-null  uint8
 89  initial_list_status_w                68817 non-null  uint8
 90  next_pymnt_d_Apr-2019                68817 non-null  uint8
 91  next_pymnt_d_May-2019                68817 non-null  uint8
 92  application_type_Individual          68817 non-null  uint8
 93  application_type_Joint App           68817 non-null  uint8
 94  hardship_flag_N                      68817 non-null  uint8
 95  debt_settlement_flag_N               68817 non-null  uint8
dtypes: float64(76), object(1), uint8(19)
memory usage: 41.7+ MB

## Split the Data into Training and Testing

In [10]:
# Create our features
X = clean_df.copy()

# Dropping homeowner and loan_statis columns
X.drop(["loan_status"], axis=1, inplace=True)

# Create our target
y = clean_df["loan_status"]

In [11]:
X.describe()

,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,pub_rec,revol_bal,...,issue_d_Mar-2019,pymnt_plan_n,initial_list_status_f,initial_list_status_w,next_pymnt_d_Apr-2019,next_pymnt_d_May-2019,application_type_Individual,application_type_Joint App,hardship_flag_N,debt_settlement_flag_N
count,68817.000000,68817.000000,68817.000000,6.881700e+04,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,...,68817.000000,68817.0,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.000000,68817.0,68817.0
mean,16677.594562,0.127718,480.652863,8.821371e+04,21.778153,0.217766,0.497697,12.587340,0.126030,17604.142828,...,0.177238,1.0,0.123879,0.876121,0.383161,0.616839,0.860340,0.139660,1.0,1.0
std,10277.348590,0.048130,288.062432,1.155800e+05,20.199244,0.718367,0.758122,6.022869,0.336797,21835.880400,...,0.381873,0.0,0.329446,0.329446,0.486161,0.486161,0.346637,0.346637,0.0,0.0
min,1000.000000,0.060000,30.890000,4.000000e+01,0.000000,0.000000,0.000000,2.000000,0.000000,0.000000,...,0.000000,1.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.0,1.0
25%,9000.000000,0.088100,265.730000,5.000000e+04,13.890000,0.000000,0.000000,8.000000,0.000000,6293.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,0.000000,1.000000,0.000000,1.0,1.0
50%,15000.000000,0.118000,404.560000,7.300000e+04,19.760000,0.000000,0.000000,11.000000,0.000000,12068.000000,...,0.000000,1.0,0.000000,1.000000,0.000000,1.000000,1.000000,0.000000,1.0,1.0
75%,24000.000000,0.155700,648.100000,1.040000e+05,26.660000,0.000000,1.000000,16.000000,0.000000,21735.000000,...,0.000000,1.0,0.000000,1.000000,1.000000,1.000000,1.000000,0.000000,1.0,1.0
max,40000.000000,0.308400,1676.230000,8.797500e+06,999.000000,18.000000,5.000000,72.000000,4.000000,587191.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.0,1.0

In [12]:
# Check the balance of our target values
y.value_counts()

low_risk     68470
high_risk      347
Name: loan_status, dtype: int64

In [13]:
# Split the X and y into X_train, X_test, y_train, y_test
X_train, X_test, y_train, y_test= train_test_split(X, 
                                                   y, 
                                                   random_state=1, 
                                                   stratify=y)
# Examine X and y testing and training set shapes
#X_train.shape
#X_test.shape
#y_train.shape
y_test.shape

(17205,)

## Data Pre-Processing

Scale the training and testing data using the `StandardScaler` from `sklearn`. Remember that when scaling the data, you only scale the features data (`X_train` and `X_testing`).

In [14]:
# Create the StandardScaler instance
scaler = StandardScaler()

In [15]:
# Fit the Standard Scaler with the training data
# When fitting scaling functions, only train on the training dataset
X_scaler = scaler.fit(X_train)

In [16]:
# Scale the training and testing data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Ensemble Learners

In this section, you will compare two ensemble algorithms to determine which algorithm results in the best performance. You will train a Balanced Random Forest Classifier and an Easy Ensemble classifier . For each algorithm, be sure to complete the folliowing steps:

1. Train the model using the training data. 
2. Calculate the balanced accuracy score from sklearn.metrics.
3. Display the confusion matrix from sklearn.metrics.
4. Generate a classication report using the `imbalanced_classification_report` from imbalanced-learn.
5. For the Balanced Random Forest Classifier only, print the feature importance sorted in descending order (most important feature to least important) along with the feature score

Note: Use a random state of 1 for each algorithm to ensure consistency between tests

### Balanced Random Forest Classifier

In [17]:
# Resample the training data with the BalancedRandomForestClassifier
brf_model = RandomForestClassifier(n_estimators=100, random_state=1)
brf_model.fit(X_train_scaled, y_train)
y_pred = brf_model.predict(X_test_scaled)
brf_model

RandomForestClassifier(random_state=1)

In [18]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

0.67209249388625

In [19]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

array([[   30,    57],
       [   11, 17107]], dtype=int64)

In [20]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred, digits=16))

                        pre       rec       spe        f1       geo       iba       sup

       high_risk  0.7317073170731707 0.3448275862068966 0.9993574015656035 0.4687500000000000 0.5870315157978004 0.3220505103493773        87
        low_risk  0.9966790957818690 0.9993574015656035 0.3448275862068966 0.9980164517822764 0.5870315157978004 0.3671614907303491     17118

     avg / total  0.9953392210508223 0.9960476605637896 0.3481373272087104 0.9953401262196458 0.5870315157978003 0.3669333794084575     17205

In [21]:
# List the features sorted in descending order by feature importance
importances = brf_model.feature_importances_
sorted(zip(brf_model.feature_importances_, X.columns), reverse=True)

[(0.08758715176950288, 'total_rec_prncp'),
 (0.07770386368390605, 'total_pymnt'),
 (0.0668123203275906, 'total_pymnt_inv'),
 (0.06459395200819652, 'last_pymnt_amnt'),
 (0.05039235474187962, 'total_rec_int'),
 (0.02136336078215045, 'out_prncp_inv'),
 (0.021208274791883988, 'installment'),
 (0.01897321061620999, 'out_prncp'),
 (0.01626915816044429, 'dti'),
 (0.015749878157203166, 'total_bal_ex_mort'),
 (0.015582867584390167, 'mo_sin_old_rev_tl_op'),
 (0.01453797246616538, 'total_rec_late_fee'),
 (0.014132027435623728, 'avg_cur_bal'),
 (0.014110841747070672, 'max_bal_bc'),
 (0.013983181108134525, 'revol_bal'),
 (0.013859883554018463, 'mo_sin_old_il_acct'),
 (0.013841987813126443, 'bc_util'),
 (0.01380522133571516, 'loan_amnt'),
 (0.013366877033695225, 'bc_open_to_buy'),
 (0.013079969483511075, 'annual_inc'),
 (0.012834266696655773, 'total_acc'),
 (0.012790627140451788, 'il_util'),
 (0.012705207421490807, 'total_bc_limit'),
 (0.012676428851197146, 'int_rate'),
 (0.012558618571945594, 'tot_cur_bal'),
 (0.012407210326579583, 'tot_hi_cred_lim'),
 (0.012398174594794873, 'mths_since_rcnt_il'),
 (0.012358412184315656, 'total_rev_hi_lim'),
 (0.011675072737656444, 'total_il_high_credit_limit'),
 (0.010767488353293928, 'total_bal_il'),
 (0.010043816389523988, 'all_util'),
 (0.009935465769342866, 'num_il_tl'),
 (0.009910248933059458, 'mo_sin_rcnt_rev_tl_op'),
 (0.00973855283136764, 'num_sats'),
 (0.00948283314501789, 'mths_since_recent_bc'),
 (0.00924470927869754, 'mths_since_recent_inq'),
 (0.009211158824857414, 'total_cu_tl'),
 (0.009073630160678137, 'num_actv_bc_tl'),
 (0.008977861630304465, 'mo_sin_rcnt_tl'),
 (0.008894174646576141, 'num_rev_accts'),
 (0.008766250981558726, 'num_rev_tl_bal_gt_0'),
 (0.008580834952836973, 'num_op_rev_tl'),
 (0.008464264960055935, 'num_actv_rev_tl'),
 (0.008279600094677415, 'open_acc'),
 (0.00802090155592144, 'num_bc_tl'),
 (0.007705120140848875, 'pct_tl_nvr_dlq'),
 (0.007577541846679696, 'issue_d_Mar-2019'),
 (0.007457052966487497, 'inq_last_12m'),
 (0.007308971777164099, 'open_rv_24m'),
 (0.007070812793522802, 'acc_open_past_24mths'),
 (0.007050124495760758, 'mort_acc'),
 (0.00697872754852336, 'open_acc_6m'),
 (0.006865825474764245, 'open_il_24m'),
 (0.006481986112251835, 'open_act_il'),
 (0.0064570958583910175, 'num_bc_sats'),
 (0.006452654932370651, 'inq_fi'),
 (0.006085432972766774, 'num_tl_op_past_12m'),
 (0.005976109970216228, 'percent_bc_gt_75'),
 (0.005751832483774414, 'issue_d_Jan-2019'),
 (0.005221985092221458, 'open_rv_12m'),
 (0.005039073197006972, 'inq_last_6mths'),
 (0.004640461223951516, 'next_pymnt_d_May-2019'),
 (0.004599174818315894, 'issue_d_Feb-2019'),
 (0.004177936805083914, 'open_il_12m'),
 (0.003920231276321782, 'delinq_2yrs'),
 (0.0038318417123820985, 'next_pymnt_d_Apr-2019'),
 (0.003727515682071744, 'num_accts_ever_120_pd'),
 (0.003290114707899756, 'tot_coll_amt'),
 (0.002665519700728709, 'pub_rec_bankruptcies'),
 (0.002413395873833711, 'pub_rec'),
 (0.002231081914469637, 'verification_status_Verified'),
 (0.0020973053912728113, 'verification_status_Source Verified'),
 (0.001893608337031974, 'verification_status_Not Verified'),
 (0.0017991529473260516, 'home_ownership_OWN'),
 (0.0017207660879790647, 'application_type_Joint App'),
 (0.0015076593321890729, 'num_tl_90g_dpd_24m'),
 (0.0014687455508103195, 'home_ownership_RENT'),
 (0.0013220967906772089, 'initial_list_status_w'),
 (0.0012732251618991978, 'collections_12_mths_ex_med'),
 (0.0012324717732577588, 'home_ownership_MORTGAGE'),
 (0.0012008537707003815, 'application_type_Individual'),
 (0.0011797073729113887, 'initial_list_status_f'),
 (0.0011615910342126616, 'home_ownership_ANY'),
 (0.00041502943864676537, 'chargeoff_within_12_mths'),
 (0.0, 'tax_liens'),
 (0.0, 'recoveries'),
 (0.0, 'pymnt_plan_n'),
 (0.0, 'policy_code'),
 (0.0, 'num_tl_30dpd'),
 (0.0, 'num_tl_120dpd_2m'),
 (0.0, 'hardship_flag_N'),
 (0.0, 'delinq_amnt'),
 (0.0, 'debt_settlement_flag_N'),
 (0.0, 'collection_recovery_fee'),
 (0.0, 'acc_now_delinq')]

### Easy Ensemble Classifier

In [ ]:
# Train the Classifier
ee_model = EasyEnsembleClassifier(n_estimators=100, random_state=1)
ee_model.fit(X_train_scaled, y_train)
y_pred = ee_model.predict(X_test_scaled)
ee_model

In [ ]:
# Calculated the balanced accuracy score
balanced_accuracy_score(y_test, y_pred)

In [ ]:
# Display the confusion matrix
confusion_matrix(y_test, y_pred)

In [ ]:
# Print the imbalanced classification report
print(classification_report_imbalanced(y_test, y_pred, digits=16))

### Final Questions

1. Which model had the best balanced accuracy score?

    - 0.67209249388625 - Balanced Random Forest Classifier
    - **0.9254565671948463 - Easy Ensemble Classifier**
    
    **ANSWER:** Examining the figures above it can bee seen that the **Easy Ensemble Classifier** model had the best balanced accuracy score.

2. Which model had the best recall score?

    - **0.9960476605637896 - Balanced Random Forest Classifier**
    - 0.9426910781749491 - Easy Ensemble Classifier
    
    **ANSWER:** Examining the figures above it can bee seen that the **Balanced Random Forest Classifier** model had the best recall score.

3. Which model had the best geometric mean score?

    - 0.5870315157978003 - Balanced Random Forest Classifier
    - **0.9252927802125857 - Easy Ensemble Classifier**
    
    **ANSWER:** Examining the figures above it can bee seen that the **Easy Ensemble Classifier** model had the best geometric mean score. had the equal best geometric scores.

4. What are the top three features?

     **ANSWER:** The following lists the top three features
         - total_rec_prncp 
         - total_pymnt
         - total_pymnt_inv